# SPDX-FileCopyrightText: 2024 Junde Yhi <junde@yhi.moe>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Version=1.0
Type=Application
Name=Quartus Prime Programmer
Comment=Stand-alone Programmer for Intel FPGAs
Categories=Development;Electronics;
Icon=com.intel.QuartusPrime.Programmer
Exec=
Terminal=false
